<button class="btn btn-success" (click)="winner()">Победитель</button>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Email</th>
      <th scope="col">Телефон</th>
      <th scope="col">Дата</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index" ngClass="'active': user.winner">
      <th scope="row">{{i+1}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.date}}</td>
      <td><button type="button" class="change btn btn-danger">Изменить</button></td>
    </tr>
  </tbody>
</table>