<button class="btn btn-success" (click)="winner()">Победитель</button>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Email</th>
      <th scope="col">Телефон</th>
      <th scope="col">Дата</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index" [ngClass]="{'active': user.winner}">
      <th scope="row">{{i+1}}</th>
      <td>
				<span *ngIf="!user.edit">{{user.firstName}}</span>
				<input *ngIf="user.edit" [(ngModel)]="user.firstName" type="text">
			</td>
      <td>
				<span *ngIf="!user.edit">{{user.lastName}}</span>
				<input *ngIf="user.edit" [(ngModel)]="user.lastName" type="text">
			</td>
      <td>
				<span *ngIf="!user.edit">{{user.email}}</span>
				<input *ngIf="user.edit" [(ngModel)]="user.email" type="text">
			</td>
      <td>
				<span *ngIf="!user.edit">{{user.phone}}</span>
				<input *ngIf="user.edit" [(ngModel)]="user.phone" type="text">
			</td>
      <td>
				<span *ngIf="!user.edit">{{user.date}}</span>
				<input *ngIf="user.edit" [(ngModel)]="user.date" type="date">
			</td>
      <td>
				<button type="button" (click)="user.edit = !user.edit" *ngIf="!user.edit" class="change btn btn-danger">Изменить</button>
				<button type="button" (click)="user.edit = !user.edit" *ngIf="user.edit" class="change btn btn-danger">Сохранить</button>
			</td>
    </tr>
  </tbody>
</table>